<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div id="app">
<div class="grid">
    <header class="header">
        <i class="fas fa-bars header__menu"></i>
        <div class="header__search">
            <input class="header__input" placeholder="Search..." />
        </div>
        <div class="header__avatar">
            <div class="dropdown">
                <ul class="dropdown__list">
                    <li class="dropdown__list-item">
                        <span class="dropdown__icon"><i class="far fa-user"></i></span>
                        <span class="dropdown__title">my profile</span>
                    </li>
                    <li class="dropdown__list-item">
                        <span class="dropdown__icon"><i class="fas fa-clipboard-list"></i></span>
                        <span class="dropdown__title">my account</span>
                    </li>
                    <li class="dropdown__list-item">
                        <span class="dropdown__icon"><i class="fas fa-sign-out-alt"></i></span>
                        <span class="dropdown__title">log out</span>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <aside class="sidenav">
        <div class="sidenav__brand">
            <i class="fas fa-feather-alt sidenav__brand-icon"></i>
            <a class="sidenav__brand-link" href="#">Ux<span class="text-light">Pro</span></a>
            <i class="fas fa-times sidenav__brand-close"></i>
        </div>
    </aside>

    <main class="main container mx-auto my-12 p-12">
    <input type="checkbox" v-model="nomes" value="Fulano" />Fulano<br>
    <input type="checkbox" v-model="nomes" value="Ciclano" />Ciclano <br>
    <p>Mensagem: {{nomes}}</p>
    </main>
    <footer class="footer">
        <p><span class="footer__copyright">&copy;</span>  MTH</p>
    </footer>
</div>
</div>
</body>
<script src="script.js"></script>
</html>